
.section1{
     width:100%; 
    height:100vh;

     /* background-image: repeating-linear-gradient(to right,red,yellow 45px);  */
    
    /* background-image: linear-gradient(to right,red,yellow ,orange,pink); */
    /* background-image: linear-gradient(90deg,red,yellow );  */
     background: #0f0c29; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}