*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
--play-color:yellow;
--mood-color:rgba(243, 198, 114, 0.913);
--switch-name:rgb(226, 94, 85);
}
body{
    width:300px;
    height:200px;
    background-color: var(--mood-color);
    color:var(--play-color);
}
p{
    color:var(--switch-name);
    border:2px solid blueviolet;
    display:block;
}
.hey{
    border:2px solid yellow;
    
    margin:100px;
  
    display:inline;

}
.inline-block-ele{
    
    border:2px solid yellow;
    padding:10px;
    margin:100px;
   
    display: inline-block;
}
/* few changes practiced in console regarding margin and padding
as in inline padding working that can be changed according to system */